#clientes {

  ul {
    list-style: none;
    padding: 0;
  }

}


$sliderCustomersHeightMobile: 700px;
$sliderCustomersHeightTablet: 700px;

.slider-wrapper-customers {

  overflow: hidden;
  position: relative;

  .slider-prev,
  .slider-next {
    width: 30px;
    $height: 90px;
    height: $height;
    display: block;
    position: absolute;
    border: 0;
    text-decoration: none;
    top: $sliderCustomersHeightMobile / 2 - ($height / 2);
    outline: none;

    @include tablet {
      display: none;
    }

  }

  .slider-prev {
    left: 0;
    background: url('../img/arrow_left.png') no-repeat center;
    background-size: contain;
  }

  .slider-next {
    right: 0;
    background: url('../img/arrow_right.png') no-repeat center;
    background-size: contain;
  }

  .slider {
    width: 100%;
    height: $sliderCustomersHeightMobile;
    overflow: hidden;
    background-color: #ccc;
    margin: 0;
    padding: 0;

    @include tablet {
      height: auto;
    }

    .slider-item {
      width: 100%;
      height: $sliderCustomersHeightMobile;
      display: flex;
      justify-content: center;
      align-items: center;
      float: left;
      position: relative;
      padding: 0;
      background-position: center center !important;
      background-repeat: no-repeat;

      @include tablet {
        width: 25%;
        height: 210px;

        > img {
          width: 70%;
        }

      }

    }

    .content {

      width: 100%;
      height: $sliderCustomersHeightMobile;
      position: relative;

      @include tablet {
        height: $sliderCustomersHeightTablet;
      }

    }

  }

}