#contato {

  background: #000 url('../img/bg_contact_mobile.png') no-repeat center top;

  @include tablet {
    background: #000 url('../img/bg_contact.png') no-repeat center top;
  }

  .title {
    text-align: center;
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;

    span {
      font-size: 18px;
      font-weight: lighter;
    }
  }

  .info {

    padding: 15px 0 0 15px;

    p {
      height: 63px;
      padding: 0 0 0 92px;
      margin: 0 0 26px 0;
      font-size: 20px;
      line-height: 22px;
      font-weight: lighter;
      color: #fff;
      background-position: left center;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;

      &.phone {
        background-image: url('../img/icon_phone.png');
      }

      &.email {
        background-image: url('../img/icon_email.png');
      }

      &.address {
        background-image: url('../img/icon_map.png');
      }

    }
  }

  .social {
    text-align: center;
    position: relative;
    padding: 40px 0 0 0;

    &:after {
      content: '';
      width: 78px;
      height: 2px;
      background: $primary-color;
      position: absolute;
      top: 0;
      left: 50%;
      margin: 0 0 0 -39px;
    }

    p {
      font-size: 20px;
      color: #fff;
      font-weight: lighter;
      padding: 0 0 8px 0;
    }

    a {
      width: 65px;
      height: 63px;
      display: inline-block;
      background-repeat: no-repeat;
      margin: 0 6px;

      &.facebook {
        background: url('../img/social.png');
      }

      &.instagram {
        background: url('../img/social.png') -83px;
      }

    }

  }

}