#quem-somos {

  .container {
    padding: 0;
  }

  .box-left {
    @include tablet {
      width: 50%;
    }

    &:after {

      @include tablet {
        content: '';
        width: 3000px;
        height: 500px;
        background: #efefef;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
      }

    }

  }

  .box-right {

    position: relative;

    @include tablet {
      width: 50%;
    }

    &:after {

      @include tablet {
        content: '';
        width: 3000px;
        height: 500px;
        background: #efefef;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }

    }

    .text {
      height: 100%;
      padding: 30px 40px;
      background: #efefef;

      @include tablet {
        padding-top: 72px;
      }

      p {
        color: #7c7c7c;
        font-size: 17px;
        line-height: 21px;
        font-weight: normal;
        margin-bottom: 20px;
        text-align: justify;

        &:last-child {
          margin: 0;
        }
      }

    }

  }

  .flex-center {
    display: flex;
    justify-content: center;
  }

  .opinion {
    background: #333333;
    padding-bottom: 20px;

    @include tablet {
      padding-bottom: 0;
    }

    .title {
      width: 400px;
      color: #838383;
      $fontSize: 32px;
      font-size: $fontSize;
      line-height: $fontSize + 2px;
      margin: 53px 0 20px 0;
      padding: 0 35px;

      @include tablet {
        width: 700px;
      }

    }

    .opinion-text {
      width: 100%;
      font-size: 22px;
      font-weight: lighter;
      line-height: 24px;
      color: #838383;
      text-align: center;
      margin: 0 0 25px 0;
      padding: 0 20px;
    }

    .opinion-author {
      text-align: center;
      font-size: 23px;
      font-weight: bold;
      font-style: italic;
      line-height: 18px;
      color: #838383;

      span {
        font-size: 14px;
        font-weight: normal;
        color: #6e6e6e;
      }

    }

  }

  .fast-design {
    width: 100%;
    height: 1000px;
    background: #54483c url('../img/bg_coffe_mobile.png') no-repeat center;

    @include tablet {
      background: #54483c url('../img/bg_coffe.png') no-repeat center;
      height: 345px;
    }

    .container {

      @include tablet {
        position: relative;
        height: 100%;
      }

    }

    .box-text {
      bottom: 70px;
      @include tablet {
        bottom: 42px;
      }
    }

    .newmove {
      max-width: 340px;
      width: 70%;
      margin: 70px 0 0 10%;

      @include tablet {
        float: right;
        margin: 133px 0 0 0;
      }

    }

  }


}

$sliderQuemSomosHeightMobile: 420px;
$sliderQuemSomosHeightTablet: 368px;

.slider-wrapper-quem-somos {

  overflow: hidden;
  position: relative;

  .slider-prev,
  .slider-next {
    width: 30px;
    $height: 90px;
    height: $height;
    display: block;
    position: absolute;
    border: 0;
    text-decoration: none;
    top: $sliderQuemSomosHeightMobile / 2 - ($height / 2);
    outline: none;

    @include tablet {
      top: $sliderQuemSomosHeightTablet / 2 - ($height / 2);
    }

  }

  .slider-prev {
    left: 0;
    background: url('../img/arrow_left.png') no-repeat center;
  }

  .slider-next {
    right: 0;
    background: url('../img/arrow_right.png') no-repeat center;
  }

  .slider {
    width: 100%;
    height: $sliderQuemSomosHeightMobile;
    overflow: hidden;
    background-color: #ccc;

    @include tablet {
      height: $sliderQuemSomosHeightTablet;
    }

    .slider-item {
      width: 100%;
      float: left;
      position: relative;
      display: block;
      padding: 0;
      background-position: center center !important;
      background-repeat: no-repeat;
    }

    .content {

      width: 100%;
      height: $sliderQuemSomosHeightMobile;
      position: relative;

      @include tablet {
        height: $sliderQuemSomosHeightTablet;
      }

    }

  }

}



$sliderOpinionHeightMobile: 200px;
$sliderOpinionHeightTablet: 200px;

.slider-wrapper-opinion {

  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;

  .slider-prev,
  .slider-next {
    width: 25px;
    $height: 60px;
    height: $height;
    display: block;
    position: absolute;
    border: 0;
    text-decoration: none;
    top: $sliderOpinionHeightMobile / 2 - ($height / 2) -40px;
    outline: none;

    @include tablet {
      top: $sliderOpinionHeightTablet / 2 - ($height / 2) -40px;
    }

  }

  .slider-prev {
    left: 0;
    background: url('../img/arrow_left.png') no-repeat center;
    background-size: contain;
    @include tablet {
      left: 200px;
    }
  }

  .slider-next {
    right: 0;
    background: url('../img/arrow_right.png') no-repeat center;
    background-size: contain;
    @include tablet {
      right: 200px;
    }
  }

  .slider {
    width: 450px;
    height: $sliderOpinionHeightMobile;
    overflow: hidden;
    padding: 0 15px;

    @include tablet {
      width: 700px;
      height: $sliderOpinionHeightTablet;
    }

    .slider-item {
      width: 100%;
      float: left;
      position: relative;
      display: block;
      padding: 0;
      background-position: center center !important;
      background-repeat: no-repeat;
    }

    .content {

      width: 100%;
      height: $sliderOpinionHeightMobile;
      position: relative;

      @include tablet {
        height: $sliderOpinionHeightTablet;
      }

    }

  }

}