#servicos {

  padding-bottom: 30px;
  position: relative;

  .box-service {
    margin: 50px 0 0 0;
    padding-bottom: 50px;
    float: left;
    $borderSize: 5px;

    @include tablet {
      margin: 65px 0 0 0;
      padding-bottom: 100px;
    }

    &:nth-child(1) {
      width: 50%;
      @include tablet {
        width: 27.5%;
      }
    }

    &:nth-child(2) {
      width: 50%;
      @include tablet {
        width: 29%;
      }
    }

    &:nth-child(3) {
      width: 50%;
      @include tablet {
        width: 27.5%;
      }
    }

    &:nth-child(4) {
      width: 50%;
      @include tablet {
        width: 16%;
      }
    }

    .title {

      height: 65px;
      position: relative;
      padding: 0 0 0 24px;

      @include tablet {
        height: 73px;
      }

      p {
        $fontSize: 40px;
        font-size: $fontSize;
        font-weight: lighter;
        position: absolute;
        bottom: -15px;
        left: 24px;
        line-height: $fontSize;

        @include tablet {
          $fontSize: 46px;
          font-size: $fontSize;
          line-height: $fontSize;
        }
      }

    }

    &.red {
      $color: #511206;
      .title {
        border-left: $borderSize solid $color;
        p {  color: $color;  }
      }
    }

    &.orange {
      $color: #a2780f;
      .title {
        border-left: $borderSize solid $color;
        p {  color: $color;  }
      }
    }

    &.blue {
      $color: #084057;
      .title {
        border-left: $borderSize solid $color;
        p {  color: $color;  }
      }
    }

    &.yellow {
      $color: #7c7e2b;
      .title {
        border-left: $borderSize solid $color;
        p {  color: $color;  }
      }
    }

  }

  ul {
    list-style: none;
    padding: 20px 0 0 30px;
    margin: 0;

    li {
      a {
        font-size: 20px;
        line-height: 24px;
        font-weight: lighter;
        color: #404040;
      }
    }

  }

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;

    .box {
      width: 80%;
      height: 250px;
      background: #4d4d4d;
      position: relative;
      padding: 32px 46px;
      box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);

      @include tablet {
        width: 570px;
        height: 250px;
      }

      &:before {
        content: '';
        height: 130px;
        width: 2px;
        background: $primary-color;
        position: absolute;
        top: 46px;
        left: 33px;
      }

      .title {
        font-size: 46px;
        line-height: 46px;
        font-weight: lighter;
        color: $primary-color;
      }

      .description {
        padding: 12px 0 0 0;
        font-size: 16px;
        line-height: 18px;
        color: #909090;
      }

    }

  }

}