@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700');
@import "slick";
@import "sweetalert2";
@import "variables";
@import "bootstrap";
@import "utilities";
@import "common";
@import "header";
@import "slider";
@import "pages";
@import "footer";
@import "form";

html, body {
  height: 100%;
}

* {
  font-family: $default-font;
}

*:focus {
  outline: none;
}

body {
  background: none;
}

p {
  color: #5b5a5f;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.container {
  width: 100%;
  padding: 0 38px;

  @include tablet {
    width: 1180px;
    padding: 0 42px;
    //border: 1px solid #f00;
  }

}

.wrapper {
  width: 100%;
  min-width: 500px;
  height: auto;
  min-height: 100%;
  position: relative;
  overflow: hidden;

  @include tablet {
    width: auto;
    min-width: 1180px;
  }

}