.box-text {
  width: 100%;
  border-left: 5px solid #ffc306;
  padding: 0 0 0 20px;
  position: absolute;
  bottom: 75px;
  left: 40px;

  p {
    font-size: 36px;
    line-height: 36px;
    color: #fff;
    font-weight: lighter;

    @include tablet {
      font-size: 65px;
      line-height: 65px;
    }

  }

  .img-arrow {
    $width: 120px;
    width: $width;
    height: $width / 2.4;
    background: url('../img/img-arrow.png') no-repeat center;
    background-size: contain;
    position: absolute;
    left: 250px;
    bottom: -15px;
    display: none;

    @include tablet {
      $width: 239px;
      width: $width;
      height: $width / 2.4;
      left: 480px;
      bottom: -32px;
      display: block;
    }

  }

}