footer {

  height: 120px;
  padding-top: 22px;
  background: #1a1a1a;

  @include tablet {
    height: 45px;
    padding-top: 12px;
  }

  p.copyright {
    color: #a3a3a3;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    padding: 0 0 10px 0;

    @include tablet {
      font-size: 11px;
      float: left;
      padding: 3px 0 0 0;
      text-align: left;
    }

  }

  .newmove {
    width: 120px;
    display: block;
    margin: 0 auto 0 auto;

    img {
      width: 100%;
    }

    @include tablet {
      width: 76px;
      float: right;
      margin: 1px 0 0 0;
    }

  }

}

.middle-footer {
  width: 100%;
  height: 128px;
  padding-top: 27px;
  background: #333333;

  .newmove {
    width: 154px;
    margin: 0 0 0 66px;
    position: relative;
    float: left;

    img {
      width: 100%;
    }

    &:after {
      content: '';
      height: 53px;
      width: 1px;
      background: #ca9b11;
      position: absolute;
      right: -45px;
      top: 0;
    }

  }

  .box {
    float: left;
    margin: 0 0 0 78px;
    padding: 0 0 0 27px;

    p {
      color: #fff;
      font-size: 13px;
      line-height: 18px;

      span {
        color: #999999;
      }
    }

    &.address {
      background: url('../img/icon_map_small.png') no-repeat top left;
    }

    &.phone {
      background: url('../img/icon_phone_small.png') no-repeat top left;
      padding: 0 0 9px 35px;
      margin: 0;
    }

    &.email {
      background: url('../img/icon_email_small.png') no-repeat top left;
      padding: 0 0 0 35px;
      margin: 0;
    }

  }

  .multi-box {
    width: 270px;
    float: left;
    margin: 0 0 0 125px;
  }

  .social {
    width: 100px;
    text-align: center;
    position: relative;
    float: left;
    margin: 0 0 0 60px;

    p {
      font-size: 10px;
      line-height: 12px;
      color: #999999;
      padding: 0 0 8px 0;
    }

    a {
      width: 25px;
      height: 25px;
      display: inline-block;
      background-repeat: no-repeat;
      margin: -25px -1px 0 -1px;
      padding: 0;

      &.facebook {
        background: url('../img/icon_facebook.png') no-repeat;
      }

      &.instagram {
        background: url('../img/icon_instagram.png') no-repeat;
      }

    }

  }

}