.form-wrapper {

  width: 100%;
  float: left;
  margin: 10px 0 0 0;

  &.with-padding {
    padding: 0 0 30px 0;
  }


}

.form-default {

  width: 100%;

  .field,
  .file-field {
    width: 100%;
    float: left;
    margin: 0 0 17px 0;


    &.half-left,
    &.half-right {
      width: 49%;
    }

    &.half-right {
      float: right;
    }

    &.half-tree {
      width: calc(33.33% - 7px);
      float: left;
      margin: 0 10px 11px 0;

      &:nth-child(3n) {
        margin-right: 0;
        float: right;
      }

    }

    &.error {

      input[type="text"],
      input[type="email"],
      textarea,
      .file-field{
        border: 1px solid #f00;
      }

    }

  }

  .file-field {
    background: #ededed;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea,
  .file-field {

    width: 100%;
    height: 44px;
    border: 0;
    font-family: $default-font;
    font-size: 17px;
    color: #7f7f7f !important;
    padding: 0 17px;
    resize: none;

  }

  input[type="file"] {

    padding: 5px 0 0 0;
    line-height: 20px;

  }

  textarea {
    height: 229px;
    padding: 5px 17px 0 17px;
  }

  .box-radio {
    float: left;
    margin: 0 0 15px 0;
  }

  .radio-field {
    width: 150px;
    height: 30px;
    float: left;

    input {
      display: block;
      vertical-align: middle;
      float: left;
      padding: 0;
      margin: 5px 0 0 0;
      outline: none;
    }

    label {
      float: left;
      color: #878789;
      font-weight: normal;
      margin: 0 0 0 5px;
    }

  }

  .btn-send {
    width: 100%;
    height: 42px;
    background: $primary-color;
    border: none;
    font-size: 17px;
    color: #14151a;
    float: left;

  }

  .info {
    width: 268px;
    float: right;
    color: #b50000;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    padding: 10px 0 0 0;

  }


}