.main-header {

  width: 100%;
  height: 170px;
  position: relative;
  background: $primary-color;

  .container {
    width: 100%;
    padding: 0;
  }

  @include tablet {

    .container {
      width: 1280px;
    }
  }

  @include tablet {
    height: 56px;
  }

  .brand {
    width: 100%;
    min-width: 300px;
    height: 108px;
    background: #efefef;
    text-align: center;
    border-bottom-right-radius: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      padding-top: 5px;
      width: 60%;
    }

    @include tablet {
      width: 3500px;
      height: 130px;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      float: left;
      z-index: 1000;
      margin: 0 0 0 -3020px;
      border-bottom-right-radius: 70px;

      img {
        width: 362px;
        float: right;
        padding: 32px 50px 0 0;
      }

    }

  }

}

.main-menu-wrapper {

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;

  @include tablet {
    position: relative;
    top: auto;
    right: auto;
  }

  .toggle-menu {
    width: 80px;
    height: 62px;
    border: 0;
    display: block;
    background: none;
    color: #4d4d4d;
    outline: none;
    padding: 0 10px;
    float: right;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
    @include animation(all 1s);

    @include tablet {
      display: none;
    }

    &.open {
      background: $primary-color;
      @include animation(all 1s);
    }

    .icon-bar {
      display: block;
      width: 100%;
      height: 7px;
      background: #4d4d4d;
      margin-top: 6px;

      &:first-child {
        margin-top: 0;
      }

    }

  }

  .main-menu {
    width: 100%;
    position: absolute;
    top: 169px;
    left: 0;
    background: $primary-color;
    padding: 15px 0;
    display: none;

    @include tablet {
      display: block;
      background: none;
      height: 60px;
      top: 0;
      padding: 0;
    }

    ul {
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;

      @include tablet {
        width: 560px;
        height: 51px;
        float: right;
        padding: 0;
        margin-right: 0;
      }

      li.item {
        width: 100%;

        @include tablet {
          width: auto;
          float: left;
          margin: 0 18px 0 0;
        }

        a {
          width: 100%;
          display: inline-block;
          color: #fff;
          text-align: center;
          text-decoration: none;
          font-size: 18px;
          padding: 5px 0;

          &:hover, &.active {

            @include tablet {
              background: #4d4d4d;
              color: $primary-color;
            }

          }

          @include tablet {
            color: #4d4d4d;
            font-size: 14px;
            padding: 28px 8px 0 8px;
          }

        }
      }

    }

  }

}


