.sections-wrapper {
  width: 100%;
  z-index: -1;

  @include tablet {

  }

}

.section-title {
  position: relative;
  width: 100%;
  min-height: 70px;
  padding-top: 23px;
  font-size: 35px;
  color: #353533;
  text-align: center;
  margin: 0;
  background: $primary-color;
  z-index: 9999;

  &.without-overlay {

    &:after {
      content: '';
      display: none;
    }

  }

  &:after {
    content: '';
    width: 286px;
    height: 175px;
    background: url('../img/corner_overlay.png') no-repeat 2px 0;
    background-size: contain;
    position: absolute;
    right: 0;
    top: -174px;
  }

  &.overlay-bottom {

    &:before {
      content: '';
      width: 189px;
      height: 189px;
      background: url('../img/corner_overlay_bottom.png') no-repeat 2px 0;
      background-size: contain;
      position: absolute;
      right: 0;
      bottom: -129px;
      display: none;

      @include tablet {
        display: block;
      }
    }

  }

  span {
    display: block;
    font-size: 20px;
    font-weight: lighter;
    color: #3e3f44;
    margin: 5px 0 0 0;
    padding: 0 0 15px 0;
  }

}

.section-banner {
  width: 100%;
  height: 417px;
  background-position: center center;
  background-repeat: no-repeat;

  @include tablet {
    height: 236px;
  }

}

.section {

  width: 100%;
  position: relative;

  .side-text {
    font-size: 32px;
    line-height: 36px;
    font-weight: lighter;
    color: $color1;
    margin-bottom: 32px;
  }

  .box-left {

    @include tablet {
      width: 430px;
      float: left;
    }

  }

  .box-right {
    @include tablet {
      width: 547px;
      float: right;
    }
  }

}

.action-list {
  width: 100%;
  list-style: none;
  margin: 32px 0 0 0;
  padding: 0;
  display: block;
  float: left;

  @include tablet {
    padding: 0 0 28px 0;
  }

  li {

    width: 50%;
    float: left;
    margin: 0 0 65px 0;

    &:nth-child(n+1) {
      .card {
        float: left;
      }
    }

    &:nth-child(n+2) {
      .card {
        float: right;
      }
    }

    &:last-child {
      width: 100%;
      margin-bottom: 20px;

      .card {
        float: none !important;
      }

    }

    @include tablet {
      width: 20%;
    }

    @include tablet {

      &:nth-child(n+1),  &:nth-child(n+2), &:last-child {
        width: 20%;
        margin-bottom: 0;

        .card {
          float: left;
        }
      }

    }

    .card {
      width: 192px;
      margin: 0 auto;
      text-align: center;

      .img-tablet {
        display: none;
      }

      @include tablet {
        width: 160px;

        .img-tablet {
          display: inline-block;
        }

        .img-mobile {
          display: none;
        }

      }

      .title {
        font-size: 28px;
        margin: 30px 0 0 0;
        color: $primary-color;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

        @include tablet {
          margin: 25px 0 0 0;
          font-size: 22px;
        }

      }

      .description {
        font-size: 18px;
        font-weight: normal;
        color: #fff;
        padding: 0 5px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

        @include tablet {
          font-size: 17px;
          font-weight: lighter;
          line-height: 19px;
          padding: 5px 3px;
        }

      }

    }

  }

}

.map-wrapper {
  width: 100%;
  height: 500px;
  margin: 10px 0 0 0;

  @include tablet {
    height: 305px;
  }

  .map {
    height: 100%;
  }

}

@import "pages/quem-somos";
@import "pages/services";
@import "pages/clientes";
@import "pages/contact";