$sliderHomeHeightMobile: 880px;
$sliderHomeHeightTablet: 720px;

.slider-wrapper-home {

  overflow: hidden;
  position: relative;

  .slider-prev,
  .slider-next {
    width: 30px;
    $height: 90px;
    height: $height;
    display: block;
    position: absolute;
    border: 0;
    text-decoration: none;
    top: $sliderHomeHeightMobile / 2 - ($height / 2);
    outline: none;

    @include tablet {
      top: $sliderHomeHeightTablet / 2 - ($height / 2);
    }

  }

  .slider-prev {
    left: 0;
    background: url('../img/arrow_left.png') no-repeat center;
  }

  .slider-next {
    right: 0;
    background: url('../img/arrow_right.png') no-repeat center;
  }

  .slider {
    width: 100%;
    height: $sliderHomeHeightMobile;
    overflow: hidden;
    background-color: #000;

    @include tablet {
      height: $sliderHomeHeightTablet;
    }

    .slider-item {
      width: 100%;
      float: left;
      position: relative;
      display: block;
      padding: 0;
      background-position: center center !important;
      background-repeat: no-repeat;
    }

    .content {

      width: 100%;
      height: $sliderHomeHeightMobile;
      position: relative;

      @include tablet {
        height: $sliderHomeHeightTablet;
      }

      .container {

        @include tablet {
          position: relative;
          height: 100%;
        }

      }

    }

  }

}