.row-margin {
  width: 100%;
  clear: both;
  float: none;
  height: 15px;
}

.row-margin-tablet {
  @include tablet {
    width: 100%;
    clear: both;
    float: none;
    height: 15px;
  }
}

.row-margin-mobile {
    width: 100%;
    clear: both;
    float: none;
    height: 22px;

  @include tablet {
    height: 0;
  }
}

.pull-left-on-tablet {
  @include tablet {
    float: left;
  }
}

.pull-right-on-tablet {
  @include tablet {
    float: right;
  }
}